.button {
	font-size: 1.4rem;
	background-color: #f0f0f0;
	border: none;
	border-right: solid 1px #888;
	border-bottom: solid 1px #888;
	outline: none;
}
.button:active {
	background-color: rgb(158, 157, 157);
}
button.double {
    font-size: 1.4rem;
	background-color: #f0f0f0;
	border: none;
	border-right: solid 1px #888;
	border-bottom: solid 1px #888;
	outline: none;
	grid-column: span 2;
}
button.triple {
    font-size: 1.4rem;
	background-color: #f0f0f0;
	border: none;
	border-right: solid 1px #888;
	border-bottom: solid 1px #888;
	outline: none;
	grid-column: span 3;
}
button.operation {
	background-color: #fa8231;
    border: none;
	border-right: solid 1px #888;
	border-bottom: solid 1px #888;
	outline: none;
	color: #fff;
}
button.operation:active {
	background-color: #fa8231cc;
}
