.Card {
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	border: 4px;

	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 300px;
}

.Card .Title {
	padding: 5px 0px;
	display: flex;
	justify-content: center;
}

.Card .Content {
	flex: 1;
	background-color: rgb(204, 203, 203);
	color: black;
	padding: 10px;
}
