.Contador input{
    font-size: 1.4rem;
    width: 30%;
}
.Contador button{
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    color: antiquewhite;
    font-size: 1.4rem;
}