.Contador input{
    font-size: 1.4rem;
    width: 30%;
}
.Contador button{
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    color: antiquewhite;
    font-size: 1.4rem;
}
.Contador span{
    font-size: 20px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #263238;
    color: #f0f9ff;
    border-radius: 10%;
    ;
}